<div class="container">
  <form [formGroup]="userForm" (submit)="handleForm()">
    <div class="form-group">
      <label for="email">Email </label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        (keyup)="validate()"
        [class.is-invalid]="
          userForm.controls.email.invalid && userForm.controls.email.dirty
        "
      />
      <span
        style="color: red;"
        *ngIf="userForm.controls.email.invalid && userForm.controls.email.dirty"
        >Please addd a valid Mail id</span
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        [(ngModel)]="some"
      />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
      Submit
    </button>
  </form>
  <hr />
  {{ some }}
  <button (click)="sayHello()">CLick</button>
  <app-user-list [users]="users" [somevalue]="some"></app-user-list>
</div>
