<!-- <div class="container">
  <h2>Welcome to Forms</h2>
  <form #myForm="ngForm" (submit)="handleSubmit(myForm)">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" ngModel name="email" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        ngModel
        name="password"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
      Submit
    </button>
  </form>
  <hr />

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td><button class="btn btn-warning">Edit</button></td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div> -->
<app-reactive-form></app-reactive-form>
