<div class="container">
  <input type="text" [(ngModel)]="searchText" (keyup)="searchUsers()" />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Address</th>
        <th>Date</th>
        <th>Gender</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | slice: start:end">
        <td>{{ user.fname }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.date }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.state }}</td>
        <td>{{ user.zip }}</td>
        <td>
          <button (click)="editUser(user)" class="btn btn-warning">Edit</button>
        </td>
        <td>
          <button (click)="deleteUser(user)" class="btn btn-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a
          class="page-link"
          href="#"
          aria-label="Previous"
          aria-disabled="true"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of pageNumbers">
        <a class="page-link" href="#" (click)="gotoPage(page - 1)">{{
          page
        }}</a>
      </li>

      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>

    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item" *ngFor="let page of pageNumbers">
        <a class="page-link" href="#" (click)="gotoPage(page - 1)">{{
          page
        }}</a>
      </li>

      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
