<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Address</th>
        <th>Date</th>
        <th>Gender</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.date }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.state }}</td>
        <td>{{ user.zip }}</td>
        <td>
          <button (click)="editUser(user)" class="btn btn-warning">Edit</button>
        </td>
        <td>
          <button (click)="deleteUser(user)" class="btn btn-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
