<!-- <h1>Welcome TO App1 - {{ title }}</h1> -->

<!-- <ul>
  <li *ngFor="let val of convertObjArray()">{{ val }}</li>
</ul>

<ul>
  <li *ngFor="let user of users">{{ user }}</li>
</ul>

<h3 *ngIf="isShow">Hello Iam going to Disply if *ngIF == true</h3> -->

<!-- <h2 [class.success]="isShow">Welcome To Agular Attribute Binding</h2>
<button (click)="changeColor()">Change Color</button> -->

<!-- <sandeep></sandeep> -->
<!-- 
<input type="text" [(ngModel)]="title" />

<p>Value Changed Above : {{ title }}</p> -->

<!-- <parent></parent> -->

<sibling1></sibling1>
<hr />
<sibling2></sibling2>
